# ------------------------------------------------------------
# TEMPLATE DE CONFIGURAÇÃO LOCAL (NÃO DELETAR ESTE ARQUIVO)
# Para usar: Coleque uma cópia deste arquivo com o nome `.env`
# ------------------------------------------------------------

# ------------------------------------------------------------
# COMANDOS PARA LER AS VARIÁVEIS NO WINDOWS (Pelo terminal)
# PASSO 1 - Carregar as variáveis na memória do terminal:
# Get-Content .env | Where-Object { $_ -and -not $_.StartsWith('#') } | ForEach-Object { $name, $value = $_.Split('=', 2); [System.Environment]::SetEnvironmentVariable($name.Trim(), $value.Trim(), "Process") }
#
# PASSO 2 - Ligar a API pelo terminal:
# .\mvnw spring-boot:run

# CONFIGURAÇÕES DO BANCO DE DADOS LOCAL
DB_URL=jdbc:postgresql://localhost:5432/studyhub
DB_USER=postgres
DB_PASSWORD=senha_local


# Credenciais do Professor
STUDYHUB_PROF_USER=professor
STUDYHUB_PROF_PASS=senha123

# Credenciais do Estudante
STUDYHUB_STUDENT_USER=aluno
STUDYHUB_STUDENT_PASS=senha123