# ------------------------------------------------------------
# COMANDO WINDOWS PARA LER O ARQUIVO .ENV NO TERMINAL:
# Get-Content .env | Where-Object { $_ -and -not $_.StartsWith('#') } | ForEach-Object { $name, $value = $_.Split('=', 2); [System.Environment]::SetEnvironmentVariable($name.Trim(), $value.Trim(), "Process") }
# ------------------------------------------------------------

# --- AUTH SERVICE ---
AUTH_DB_URL=jdbc:postgresql://localhost:5432/studyhub_auth_db
AUTH_DB_USER=seu_usuario
AUTH_DB_PASSWORD=sua_senha

# --- FUTUROS MICROSSERVIÇOS (Apenas como placeholder) ---

# MICROSSERVICO_DB_URL=jdbc:postgresql://localhost:5432/nome_do_db
# MICROSSERVICO_DB_USER=...
# MICROSSERVICO_DB_PASSWORD=...

# --- SEGURANÇA E JWT ---
# Use uma string longa e aleatória
JWT_SECRET=secret_key_base64_ou_hash

# --- INFRAESTRUTURA KAFKA ---
KAFKA_URL=localhost:9092
KAFKA_CLIENT_ID=studyhub-auth-service

# --- CONFIGURAÇÕES DE DOCKER ---
# POSTGRES_PORT=5432
# KAFKA_PORT=9092